<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Pablo Hansen is a software engineer based in San Francisco, recently graduated from University of San
          Francisco.</p>
      </div>
      <div class="col-lg-4">
        <p>I love working on the bleeding edge of technology and am currently passionate about learning to design sustainable large-scale architectures! </p>
      </div>
    </div>
  </div>
</section>