<!-- hackathon Modals -->
{% for hack in site.hacks %}
<div class="hackathon-modal modal fade" id="hackathonModal-{{ hack.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ hack.title }}</h2>
            <hr class="star-primary">
            {% if hack.link %}
            <a href="{{ hack.link }}">
              <img src="img/hackathon/{{ hack.img }}" class="img-responsive img-centered" alt="{{ hack.alt }}">
            </a>
            {% else %}
            <img src="img/hackathon/{{ hack.img }}" class="img-responsive img-centered" alt="{{ hack.alt }}">
            {% endif %}


            {% if hack.description %}
            <p>{{ hack.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if hack.client %}
              <li>Client:
                <strong>{{ hack.client }}</strong>
              </li>
              {% endif %}
              {% if hack.project-date %}
              <li>Date:
                <strong>{{ hack.project-date }}</strong>
              </li>
              {% endif %}
              {% if hack.category %}
              <li>Technologies:
                <strong>{{ hack.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}